<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.bms.common.dao.DaoCmd">
    <mo_knowledge_base_page type="hql" desc="专家知识库分页查询">
        <![CDATA[
            from MoKnowledgeBase k
            where deleted = 0
            <#if title?? && title!=''>
                and k.title like '%'||:title||'%'
            </#if>
            <#if type??>
                and k.type = :type
            </#if>
            <#if begin?? && end??>
                and k.createDate between :begin and :end
            </#if>
            order by k.createDate desc
        ]]>
    </mo_knowledge_base_page>

    <mo_expert_page type="hql" desc="专家库分页查询">
        <![CDATA[
            from MoExpert e
            where deleted = 0
            <#if name?? && name!=''>
                and e.name like '%'||:name||'%'
            </#if>
            <#if field??>
                and e.field = :field
            </#if>
            <#if level??>
                and e.level = :level
            </#if>
            order by e.createDate desc
        ]]>
    </mo_expert_page>

    <mo_rescue_rescuer_page type="hql" desc="救援资源管理-人员">
        <![CDATA[
            from MoRescueRescuer o
            where o.deleted = 0
            <#if status??>
                and o.status = :status
            </#if>
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            <#if name?? && name!=''>
                and o.name like '%'||:name||'%'
            </#if>
            <#if position?? && position!=''>
                and o.position like '%'||:position||'%'
            </#if>
            <#if phone?? && phone!=''>
                and o.phone like '%'||:phone||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_rescuer_page>
    <mo_rescue_rescuer_orgname_page type="hql" desc="救援资源管理-人员-公司">
        <![CDATA[
            select distinct o.orgName
            from MoRescueRescuer o
            where o.deleted = 0
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_rescuer_orgname_page>
    <mo_rescue_rescuer_position_page type="hql" desc="救援资源管理-人员-职位">
        <![CDATA[
            select distinct o.position
            from MoRescueRescuer o
            where o.deleted = 0
            <#if position?? && position!=''>
                and o.position like '%'||:position||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_rescuer_position_page>


    <mo_rescue_vehicle_page type="hql" desc="救援资源管理-车辆">
        <![CDATA[
            from MoRescueVehicle o
            where o.deleted = 0
            <#if status??>
                and o.status = :status
            </#if>
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            <#if code?? && code!=''>
                and o.code like '%'||:code||'%'
            </#if>
            <#if routeName?? && routeName!=''>
                and o.routeName like '%'||:routeName||'%'
            </#if>
            <#if licNo?? && licNo!=''>
                and o.licNo like '%'||:licNo||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_vehicle_page>
    <mo_rescue_vehicle_orgname_page type="hql" desc="救援资源管理-车辆-公司">
        <![CDATA[
            select distinct o.orgName
            from MoRescueVehicle o
            where o.deleted = 0
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_vehicle_orgname_page>
    <mo_rescue_vehicle_routename_page type="hql" desc="救援资源管理-车辆-线路">
        <![CDATA[
            select distinct o.routeName
            from MoRescueVehicle o
            where o.deleted = 0
            <#if routeName?? && routeName!=''>
                and o.routeName like '%'||:routeName||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_vehicle_routename_page>

    <mo_rescue_material_page type="hql" desc="救援资源管理-物资">
        <![CDATA[
            from MoRescueMaterial o
            where o.deleted = 0
            <#if status??>
                and o.status = :status
            </#if>
            <#if code?? && code!=''>
                and o.code like '%'||:code||'%'
            </#if>
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            <#if name?? && name!=''>
                and o.name like '%'||:name||'%'
            </#if>
            <#if type?? && type!=''>
                and o.type like '%'||:type||'%'
            </#if>
            <#if origin?? && origin!=''>
                and o.origin like '%'||:origin||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_page>
    <mo_rescue_material_orgname_page type="hql" desc="救援资源管理-物资-公司">
        <![CDATA[
            select distinct o.orgName
            from MoRescueMaterial o
            where o.deleted = 0
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_orgname_page>
    <mo_rescue_material_code_page type="hql" desc="救援资源管理-物资-编号">
        <![CDATA[
            select distinct o.code
            from MoRescueMaterial o
            where o.deleted = 0
            <#if code?? && code!=''>
                and o.code like '%'||:code||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_code_page>
    <mo_rescue_material_type_page type="hql" desc="救援资源管理-物资-类型">
        <![CDATA[
            select distinct o.type
            from MoRescueMaterial o
            where o.deleted = 0
            <#if type?? && type!=''>
                and o.type like '%'||:type||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_type_page>
    <mo_rescue_material_origin_page type="hql" desc="救援资源管理-物资-来源">
        <![CDATA[
            select distinct o.origin
            from MoRescueMaterial o
            where o.deleted = 0
            <#if origin?? && origin!=''>
                and o.origin like '%'||:origin||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_origin_page>

    <mo_emergency_response_page type="hql" desc="应急响应处理-分页查询">
        <![CDATA[
            from MoEmergencyResponse o
            where o.deleted = 0
            <#if statusList?? && (statusList?size>0)>
               and o.status in (:statusList)
            </#if>
            <#if generateCase??>
               and o.generateCase = :generateCase
            </#if>
            order by o.createDate desc
        ]]>
    </mo_emergency_response_page>

    <mo_info_release_page type="hql" desc="应急信息发布">
        <![CDATA[
            from MoInfoRelease i
            where deleted = 0
            <#if name?? && name!=''>
                and i.name like '%'||:name||'%'
            </#if>
            <#if type??>
                and i.field = :field
            </#if>
            <#if level??>
                and i.level = :level
            </#if>
        ]]>
    </mo_info_release_page>

    <mo_emergency_preplan_page type="hql" desc="应急预案管理">
        <![CDATA[
            from MoEmergencyPrepla
            order by i.createDate descn e
            where deleted = 0
            <#if rescueCompanyName?? && rescueCompanyName!=''>
                and e.rescueCompanyName like '%'||:rescueCompanyName||'%'
            </#if>
            <#if preplanType??>
                and e.preplanType = :preplanType
            </#if>WWWw
            <#if level??>
                and e.level = :level
            </#if>
            order by i.createDate desc
        ]]>
    </mo_emergency_preplan_page>
</mapper>