<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.bms.common.dao.DaoCmd" desc="公交综合运行监测与应急响应系统">
    <mo_knowledge_base_page type="hql" desc="专家知识库分页查询">
        <![CDATA[
            from MoKnowledgeBase k
            where deleted = 0
            <#if title?? && title!=''>
                and k.title like '%'||:title||'%'
            </#if>
            <#if type??>
                and k.type = :type
            </#if>
            <#if begin?? && end??>
                and k.createDate between :begin and :end
            </#if>
            order by k.createDate desc
        ]]>
    </mo_knowledge_base_page>

    <mo_expert_page type="hql" desc="专家库分页查询">
        <![CDATA[
            from MoExpert e
            where deleted = 0
            <#if name?? && name!=''>
                and e.name like '%'||:name||'%'
            </#if>
            <#if field??>
                and e.field = :field
            </#if>
            <#if level??>
                and e.level = :level
            </#if>
            order by e.createDate desc
        ]]>
    </mo_expert_page>

    <mo_rescue_rescuer_page type="hql" desc="救援资源管理-人员">
        <![CDATA[
            from MoRescueRescuer o
            where o.deleted = 0
            <#if status??>
                and o.status = :status
            </#if>
            <#if statusList?? && (statusList?size>0)>
               and o.status in (:statusList)
            </#if>
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            <#if name?? && name!=''>
                and o.name like '%'||:name||'%'
            </#if>
            <#if position?? && position!=''>
                and o.position like '%'||:position||'%'
            </#if>
            <#if phone?? && phone!=''>
                and o.phone like '%'||:phone||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_rescuer_page>
    <mo_rescue_rescuer_orgname_page type="hql" desc="救援资源管理-人员-公司">
        <![CDATA[
            select distinct o.orgName
            from MoRescueRescuer o
            where o.deleted = 0
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_rescuer_orgname_page>
    <mo_rescue_rescuer_position_page type="hql" desc="救援资源管理-人员-职位">
        <![CDATA[
            select distinct o.position
            from MoRescueRescuer o
            where o.deleted = 0
            <#if position?? && position!=''>
                and o.position like '%'||:position||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_rescuer_position_page>


    <mo_rescue_vehicle_page type="hql" desc="救援资源管理-车辆">
        <![CDATA[
            from MoRescueVehicle o
            where o.deleted = 0
            <#if status??>
                and o.status = :status
            </#if>
            <#if statusList?? && (statusList?size>0)>
               and o.status in (:statusList)
            </#if>
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            <#if code?? && code!=''>
                and o.code like '%'||:code||'%'
            </#if>
            <#if routeName?? && routeName!=''>
                and o.routeName like '%'||:routeName||'%'
            </#if>
            <#if licNo?? && licNo!=''>
                and o.licNo like '%'||:licNo||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_vehicle_page>
    <mo_rescue_vehicle_orgname_page type="hql" desc="救援资源管理-车辆-公司">
        <![CDATA[
            select distinct o.orgName
            from MoRescueVehicle o
            where o.deleted = 0
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_vehicle_orgname_page>
    <mo_rescue_vehicle_routename_page type="hql" desc="救援资源管理-车辆-线路">
        <![CDATA[
            select distinct o.routeName
            from MoRescueVehicle o
            where o.deleted = 0
            <#if routeName?? && routeName!=''>
                and o.routeName like '%'||:routeName||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_vehicle_routename_page>

    <mo_rescue_material_page type="hql" desc="救援资源管理-物资">
        <![CDATA[
            from MoRescueMaterial o
            where o.deleted = 0
            <#if status??>
                and o.status = :status
            </#if>
            <#if statusList?? && (statusList?size>0)>
               and o.status in (:statusList)
            </#if>
            <#if code?? && code!=''>
                and o.code like '%'||:code||'%'
            </#if>
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            <#if name?? && name!=''>
                and o.name like '%'||:name||'%'
            </#if>
            <#if type?? && type!=''>
                and o.type like '%'||:type||'%'
            </#if>
            <#if origin?? && origin!=''>
                and o.origin like '%'||:origin||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_page>
    <mo_rescue_material_orgname_page type="hql" desc="救援资源管理-物资-公司">
        <![CDATA[
            select distinct o.orgName
            from MoRescueMaterial o
            where o.deleted = 0
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_orgname_page>
    <mo_rescue_material_code_page type="hql" desc="救援资源管理-物资-编号">
        <![CDATA[
            select distinct o.code
            from MoRescueMaterial o
            where o.deleted = 0
            <#if code?? && code!=''>
                and o.code like '%'||:code||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_code_page>
    <mo_rescue_material_type_page type="hql" desc="救援资源管理-物资-类型">
        <![CDATA[
            select distinct o.type
            from MoRescueMaterial o
            where o.deleted = 0
            <#if type?? && type!=''>
                and o.type like '%'||:type||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_type_page>
    <mo_rescue_material_origin_page type="hql" desc="救援资源管理-物资-来源">
        <![CDATA[
            select distinct o.origin
            from MoRescueMaterial o
            where o.deleted = 0
            <#if origin?? && origin!=''>
                and o.origin like '%'||:origin||'%'
            </#if>
            order by o.createDate desc
        ]]>
    </mo_rescue_material_origin_page>

    <mo_emergency_response_page type="hql" desc="应急响应处理-分页查询">
        <![CDATA[
            from MoEmergencyResponse o
            where o.deleted = 0
            <#if statusList?? && (statusList?size>0)>
               and o.status in (:statusList)
            </#if>
            <#if generateCase??>
               and o.generateCase = :generateCase
            </#if>
            <#if name??&&name!=''>
               and o.name like  '%'||:name||'%'
            </#if>
            <#if preplanType??>
               and o.preplanType = :preplanType
            </#if>
            <#if level??>
               and o.level = :level
            </#if>
            order by o.createDate desc
        ]]>
    </mo_emergency_response_page>

    <mo_info_release_page type="hql" desc="应急信息发布">
        <![CDATA[
            from MoInfoRelease i
            where deleted = 0
            <#if name?? && name!=''>
                and i.name like '%'||:name||'%'
            </#if>
            <#if type??>
                and i.field = :field
            </#if>
            <#if level??>
                and i.level = :level
            </#if>
            order by i.createDate desc
        ]]>
    </mo_info_release_page>

    <mo_emergency_preplan_page type="hql" desc="应急预案管理">
        <![CDATA[
            from MoEmergencyPreplan e
            where deleted = 0
              <#if name?? && name!=''>
                and e.name like '%'||:name||'%'
            </#if>
            <#if rescueCompanyName?? && rescueCompanyName!=''>
                and e.rescueCompanyName like '%'||:rescueCompanyName||'%'
            </#if>
            <#if preplanType??>
                and e.preplanType = :preplanType
            </#if>
            <#if level??>
                and e.level = :level
            </#if>
            order by e.createDate desc
        ]]>
    </mo_emergency_preplan_page>

    <mo_emergency_preplan_name_page type="hql" desc="应急预案管理-预案名">
        <![CDATA[
            select distinct e.name
            from MoEmergencyPreplan e
            where e.deleted = 0
            <#if name?? && name!=''>
                and e.name like '%'||:name||'%'
            </#if>
            order by e.createDate desc
        ]]>
    </mo_emergency_preplan_name_page>

    <mo_data_forward_find_bus_route_site_by_routeid_and_siteindex type="sql" desc="根据线路编码和站点顺序查找线路名称和站点名称">
        <![CDATA[
            select s.name as site_name,r.name as route_name from bus_sites s
            left join bus_routes r on r.id = s.route_id
            where s.`index`= :siteIndex
            and s.o_route_id = :routeOId
        ]]>
    </mo_data_forward_find_bus_route_site_by_routeid_and_siteindex>

    <mo_data_forward_update_bus_vehicle_by_code type="sql" desc="根据车辆编号更新车辆信息">
        <![CDATA[
            update bus_vehicles
                set is_move = :move,
                is_online = :online,
                current_site_index = :currentSiteIndex,
                <#if currentSiteName?? && currentSiteName!=''>
                    current_site_name = :currentSiteName,
                </#if>
                speed=:speed,
                <#if nextSiteName?? && nextSiteName!=''>
                    next_site_name = :nextSiteName,
                </#if>
                <#if practOId?? && practOId!=''>
                    pract_o_id = :practOId,
                </#if>
                up_down = :upDown,
                <#if latitude??>
                    current_latitude = :latitude,
                </#if>
                <#if longitude??>
                    current_longitude = :longitude,
                </#if>
                <#if gpsAngle??>
                    gps_angle = :gpsAngle,
                </#if>
                next_site_index = :nextSiteIndex
            where code= :vehCode
        ]]>
    </mo_data_forward_update_bus_vehicle_by_code>

    <mo_bus_vehicle_list_by_route_id_list type="sql" desc="车辆运行监测-车辆-列表">
        <![CDATA[
            select
                v.code as veh_code,
                v.o_route_id,
                v.route_name,
                v.route_id,
                p.name as pract_name,
                p.phone,
                p.staff_number,
                v.is_move as move,
                v.is_online as online,
                v.current_site_index,
                v.current_site_name,
                v.speed,
                v.current_latitude,
                v.current_longitude
            from bus_vehicles v
            left join practitioners p on p.o_id = v.pract_o_id
            where v.is_delete = 0
            and v.code is not null
            <#if routeIdList?? && (routeIdList?size>0)>
                and v.route_id in (:routeIdList)
            </#if>
        ]]>
    </mo_bus_vehicle_list_by_route_id_list>

    <mo_bus_vehicle_history_track_list_by_vehcode type="sql" desc="车辆运行监测-车辆-历史轨迹">
        <![CDATA[
            select
                g.id,
                g.route_o_id,
                g.veh_code,
                g.gps_create_date,
                g.latitude,
                g.longitude,
                g.speed,
                g.pract_o_id,
                g.is_move as move,
                p.name as pract_name,
                p.phone,
                p.staff_number
            from mo_bus_vehicle_gps_datas g
            left join practitioners p on p.o_id = g.pract_o_id
            where g.veh_code = :vehCode
            and gps_create_date between :begin and :end
        ]]>
    </mo_bus_vehicle_history_track_list_by_vehcode>

    <mo_bus_vehicle_history_track_point_by_vehcode type="sql" desc="车辆运行监测-车辆-历史轨迹点">
        <![CDATA[
            select
                g.longitude,
                g.latitude
            from mo_bus_vehicle_gps_datas g
            where g.veh_code = :vehCode
            and gps_create_date between :begin and :end
        ]]>
    </mo_bus_vehicle_history_track_point_by_vehcode>

    <mo_bus_vehicle_route_list_by_route_id_list type="sql" desc="车辆运行监测-线路-左边列表">
        <![CDATA[
            select
                distinct r.id, r.name,r.o_id, s.up_down
            from bus_routes r
            left join bus_sites s on s.route_id = r.id
            where r.is_delete = 0
            <#if routeIdList?? && (routeIdList?size>0)>
                and r.id in (:routeIdList)
            </#if>
        ]]>
    </mo_bus_vehicle_route_list_by_route_id_list>

    <mo_bus_vehicle_site_list_by_route_id_list type="sql" desc="车辆运行监测-线路-左边列表">
        <![CDATA[
            select
                s.id,
                s.o_id,
                s.up_down,
                s.`index`,
                s.name,
                s.o_route_id,
                s.route_id,
                r.name as route_name
            from bus_sites s
            left join bus_routes r on r.id = s.route_id
            where s.is_delete = 0
            <#if routeIdList?? && (routeIdList?size>0)>
                and s.route_id in (:routeIdList)
            </#if>
            <#if upDown??>
                and s.up_down=:upDown
            </#if>
            order by s.`index` asc
        ]]>
    </mo_bus_vehicle_site_list_by_route_id_list>

    <mo_bus_site_and_bus_route_cache_info type="sql" desc="公交站点和公交线路信息-用于缓存数据">
        <![CDATA[
            select
                s.o_id as site_o_id,
                s.id as site_id,
                s.name as site_name,
                r.id as route_id,
                s.o_route_id as route_o_id,
                r.name as route_name,
                s.up_down,
                s.`index` as site_index
            from bus_sites s
            left join bus_routes r on r.id = s.route_id
            where s.is_delete = 0
            and s.status = 2
            order by s.`index` asc
        ]]>
    </mo_bus_site_and_bus_route_cache_info>

    <mo_bus_vehicle_cache_info type="sql" desc="车辆信息-缓存信息专用">
        <![CDATA[
            select
                id as veh_id,
                code as veh_code,
                seat_num,
                org_id,
                team_id,
                route_id
            from bus_vehicles
            where code is not null
            and status = 2
        ]]>
    </mo_bus_vehicle_cache_info>

</mapper>