<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.bms.common.dao.DaoCmd">
    <organization_page type="hql">
        <![CDATA[
            from Organization o
            where o.deleted = 0
            <#if name?? && name!=''>
                and o.name like '%'||:name||'%'
            </#if>
            <#if level??>
                and o.level = :level
            </#if>
            <#if status??>
                and o.status = :status
            </#if>
            order by o.createDate desc
        ]]>
    </organization_page>

    <role_page type="hql">
        <![CDATA[
            from Role r
            where deleted = 0
            <#if name?? && name!=''>
                and r.name like '%'||:name||'%'
            </#if>
            <#if remark?? && remark!=''>
                and r.remark like '%'||:remark||'%'
            </#if>
            order by r.createDate desc
        ]]>
    </role_page>

    <user_page type="hql">
        <![CDATA[
            from User u
            where deleted = 0
            <#if account?? && account!=''>
                and u.account like '%'||:account||'%'
            </#if>
            <#if realName?? && realName!=''>
                and u.realName like '%'||:realName||'%'
            </#if>
            <#if organization?? && organization.name!=''>
                and u.organization.name like '%${organization.name}%'
            </#if>
            <#if status??>
                and u.status = :status
            </#if>
            order by u.createDate desc
        ]]>
    </user_page>

    <menu_findPermissionCodeByUserId type="sql" desc="查找用户拥有的权限编码">
        <![CDATA[
            SELECT distinct permission_code FROM menus m
            inner join role_menus rm on rm.menu_id  = m.id
            inner join roles r on r.id = rm.role_id
            inner join users u on r.id = u.role_id
            where u.id = :userId and m.type =2
        ]]>
    </menu_findPermissionCodeByUserId>

    <menu_findTabsByUserIdAndParentId type="sql" desc="菜单管理-查询当前菜单下我所拥有的tab页签">
        <![CDATA[
            select m.* from menus m
            inner join role_menus rm on rm.menu_id = m.id
            inner join users u on u.role_id = rm.role_id
            where m.is_delete = 0
            and u.id = :userId
            and m.parent_id = :parentId
        ]]>
    </menu_findTabsByUserIdAndParentId>

    <oplog_page type="hql" desc="操作日志 分页查询">
        <![CDATA[
            from OperationLog o
            where 1=1
            <#if account?? && account!=''>
                and o.account like '%'||:account||'%'
            </#if>
            <#if realName?? && realName!=''>
                and o.realName like '%'||:realName||'%'
            </#if>
            <#if orgName?? && orgName!=''>
                and o.orgName like '%'||:orgName||'%'
            </#if>
            <#if module?? && module!=''>
                and o.module like '%'||:module||'%'
            </#if>
            <#if funcName?? && funcName!=''>
                and o.funcName like '%'||:funcName||'%'
            </#if>
            <#if params?? && params!=''>
                and o.params like '%'||:params||'%'
            </#if>
            <#if ip?? && ip!=''>
                and o.ip like '%'||:ip||'%'
            </#if>
            <#if begin?? && end??>
                and o.createDate between :begin and :end
            </#if>
            order by o.createDate desc
        ]]>
    </oplog_page>

    <dict_page type="hql" desc="字典分页查询">
        <![CDATA[
            from Dictionary o
            where o.deleted = 0
            <#if code?? && code!=''>
                and o.code = :code
            </#if>
            order by o.createDate desc
        ]]>
    </dict_page>
</mapper>