<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.bms.common.dao.DaoCmd">
    <organization_page>
        <![CDATA[
            from Organization o
            where 1=1
            <#if name?? && name!=''>
                and o.name like :name
            </#if>
            <#if level!=0>
                and o.level = :level
            </#if>
            and o.deleted=:deleted order by o.createDate desc
        ]]>
    </organization_page>

    <role_page>
        <![CDATA[
            from Role r
            where 1=1
            <#if name?? && name!=''>
                and r.name like :name
            </#if>
            order by r.createDate desc
        ]]>
    </role_page>

    <user_page>
        <![CDATA[
            from User u
            where 1=1
            <#if keyword?? && keyword!=''>
                and (u.account like :keyword or u.realName like :keyword)
            </#if>
            order by u.createDate desc
        ]]>
    </user_page>
</mapper>