<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.springboot.jpa.demo.sys.dao.UserMapper" desc="系统管理-用户管理">

    <findAll type="hql" desc="用户列表">
        <![CDATA[
            from User u
            where u.deleted = 0
            <#if account?? && account!=''>
                and u.account like '%'||:account||'%'
            </#if>
            <#if realName?? && realName!=''>
                and u.realName like '%'||:realName||'%'
            </#if>
            <#if organization?? && organization.name!=''>
                and u.organization.name like '%'||${organization.name}||'%'
            </#if>
            <#if status??>
                and u.status = :status
            </#if>
            order by u.createDate desc
        ]]>
    </findAll>
</mapper>